body.acs_header_invisible {
    padding-top: 0px !important;
}

.acs_dental_chart input[type="radio"]:checked + label {
    filter: grayscale(0);
    border: 1px solid purple;
}

.acs_dental_chart input[type="checkbox"]:checked + label {
    filter: grayscale(0);
    border: 1px solid purple;
    color: white;
    background-color: #68465f !important;
}

.acs_image img {
    max-width: 58px;
}

.acs_tooth_div {
    width: 6.25%;
}

.acs_tooth_div input {
    display: none;
}

.acs_tooth_label {
    min-width: 58px;
    min-height: 100px;   
}

.acs_tooth_label:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.acs_surface_label:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.acs_surface_label {
    background-color: #137a87;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 10px;  
}

.acs_surface, .acs_dental_procedure {
    width: auto;
}

.acs_surface input {
    display: none;
}

.acs_procedure_label {
    background-color: #33b2a9;
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 10px;  
}

.acs_dental_procedure input[type="radio"]:checked + label {
    border: 1px solid purple;
    color: white;
    background-color: #68465f !important;
}

.acs_table_header {
    background-color: darkgray;
}

.acs_dental_procedures {
    height: 100px;
    overflow-y: scroll;
}

.acs_dental_procedures input {
    display: none;
}

.acs_dental_procedures, .acs_dental_surfaces, .acs_teeths, .acs_tooth_div {
    align-items: center;
    justify-content: center;
}

.acs_dental_chart_header {
    background-color: #2d9f9d; 
    background-image: linear-gradient(#918c8c, #2d9f9d); 
    background: linear-gradient(106deg,#918c8c 0%,#2d9f9d 100%); 
    color: white;
}
.acs_dental_chart_header a {
    color: white !important;
}

.acs_product_avatar {
    border-radius: 50%;
    width: 19px;
    height: 19px;
    object-fit: cover;
    margin-right: 4px;
}

.acs_fdi_code {
    color: gray;
}

//css for submit button
.h-divider {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 26px;
    position: relative;
}

.h-divider .acs_shadow {
    overflow: hidden;
    height: 20px;
}

.h-divider .acs_shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
}

.h-divider .text {
    width: 200px;
    height: 60px;
    padding: 10px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -33px;
    left: 50%;
    margin-left: -60px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #999;
    background: white;
}

.h-divider .text i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #aaa;
    text-align: center;
    line-height: 50px;
    font-style: normal;
    color: #999;
}

.divide {
    position: relative;
    color: gray;
}

.divide:after {
    content: '';
    position: absolute;
    width: 83%;
    top: 11px;
    border-top: 1px solid #eee;
}